[2018-04-15 12:16] hadi77makkawi opened #1 "strtolower() expects parameter 1 to be string, array given"
A very awesome one.

I have faced the below error when calling the relation

My model looks like

[2018-04-15 12:45] hadi77makkawi commented on #1
Sorry

the fix was that the other model "CompanyPart" should also also use Awobaz\Compoships\Database\Eloquent\Model and extend it.

After doing that, things are fine

[2018-04-15 12:45] #1 closed

[2018-04-17 19:16] gms8994 opened #2 "No method override for qualifyColumn?"
Laravel 5.5, PHP 7.1.16

`Sale::class`
[code]

`SaleExtra::class`
[code]

Calling out to
[code]

I receive the error below

[code]

With a stacktrace like
[code]

[2018-04-17 19:38] topclaudy commented on #2
'whereHas' feature is not yet implemented. This will be added soon.

[2018-04-18 11:44] topclaudy commented on #2
Issue fixed in version [1.0.1 ](https://github.com/topclaudy/compoships/releases/tag/1.0.1)

[2018-04-18 11:44] #2 closed

[2018-04-18 12:21] KoIIIeY opened #3 "trait \Awobaz\Compoships\Compoships"
After adding
use \Awobaz\Compoships\Compoships

no relationships works on table. Every (hasOne, hasMany) relation returns null.

`public function postedTests(){
        return $this->hasMany('\App\PostedTest', 'language_id', 'language_id');
        return $this->hasMany('\App\PostedTest', ['language_id', 'participant_user_id'], ['language_id','participant_user_id']);
    }`

While I used trait, ev

[2018-04-18 12:27] KoIIIeY commented on #3
ParticipantLanguage :

`<?php

namespace App;

use Illuminate\Database\Eloquent\Model;
use Illuminate\Http\Request;

class ParticipantLanguage extends Model
{

    use \Awobaz\Compoships\Compoships;

public function postedTests(){
        return $this->hasMany('\App\PostedTest', ['language_id', 'participant_user_id'], ['language_id','participant_user_id']);
    }`

And postedTest:

`<?php

namespa

[2018-04-18 12:35] topclaudy commented on #3
Your code is correct. Which version of Compoship are you using?

[2018-04-18 12:36] KoIIIeY commented on #3
"version": "1.0.1",
            "source": {
                "type": "git",
                "url": "https://github.com/topclaudy/compoships.git",
                "reference": "364c18858e2f871774f379abbd15c2592d75f2e4"
            },

[2018-04-18 12:53] topclaudy commented on #3
Use the last version (1.0.2)

[2018-04-18 12:57] #3 closed

[2018-04-18 12:58] KoIIIeY commented on #3
Work, thx.

[2018-05-02 15:10] xaviapa opened #4 "has() relationship not working"
After defining a relationship like
`
    public function locales()
    {
        return $this->hasMany(
            ProgramsVersionsLocale::class,
            ['id_program', 'id_version'],
            ['id_program', 'id_version']
        );
    }
`
we get the following error:
`PHP Notice:  Array to string conversion in /opt/app/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/Ha

[2018-05-02 16:16] topclaudy commented on #4
Did you use Compoships for both models? If no, check this issue https://github.com/topclaudy/compoships/issues/1

[2018-05-03 07:34] xaviapa commented on #4
Yes I did, I'm using it in all the models.

[2018-05-03 12:39] topclaudy commented on #4
Can you show the (partial) code of your models?

[2018-05-03 13:34] xaviapa commented on #4
`
namespace App;

use Awobaz\Compoships\Database\Eloquent\Model as Eloquent;

abstract class Model extends Eloquent
{
}
`
`
namespace App;

class ProgramsVersion extends Model
{
    protected $table = 'programs_versions';

    protected $fillable = [
       ...
    ];

    public function locales()
    {
        return $this->hasMany(
            ProgramsVersionsLocale::class,
            ['id_pro

[2018-05-04 01:14] topclaudy commented on #4
I'm unable to reproduce your issue. `ProgramsVersion::has('locales')->get()` should work fine.

[2018-05-04 06:26] xaviapa commented on #4
This is the other issue, the `has()` method cannot be called static, see https://github.com/topclaudy/compoships/blob/master/src/Database/Eloquent/Concerns/QueriesRelationships.php
The error I get is:
`Non-static method Awobaz\\Compoships\\Database\\Eloquent\\Model::has() should not be called statically`

[2018-05-10 16:03] topclaudy commented on #4
Going to close this - let me know if you're still having trouble with it! :)

[2018-05-17 02:28] ccarstens opened #5 "whereHas seems not to work"
Dear Claudin,

thank you for creating compoships!

Is it possible that the whereHas query does not work?
When I try to query my model with whereHas and a compoship I get an Array to String conversion Exception. I use Laravel 5.5 and have both models extend compoships

Thank you for taking the time, compoships seems to make my life easier!
best
cornelius

    //Allocation and TrackingTask extend Aw

[2018-05-17 19:25] ccarstens commented on #5
hello @topclaudy
thanks for getting back, I'm using the latest version and just tried to update compoships as mentioned by you in #3

[2018-05-17 19:27] xaviapa commented on #4
Yes, I've tried it many times but don't get how could it work. I left it and implemented a different approach without the has(), but would be nice if we could find a solution.

[2018-05-17 19:31] ccarstens commented on #5
Allocation:

     use Awobaz\Compoships\Database\Eloquent\Model;
    use Carbon\Carbon;

    class Allocation extends Model
    {
        //...
        public function trackingTasks()
        {
            return $this->hasMany(
                TrackingTask::class,
                ['booking_id', 'vehicle_id'],
                ['booking_id', 'vehicle_id']
                );

        }
    }

Tracki

[2018-05-17 19:38] topclaudy commented on #4
Which version of Compoships are you using? I just tried to use `whereHas` with Compoships and It worked.

[2018-05-18 07:02] xaviapa commented on #4
The last one, 1.0.2

[2018-05-20 19:19] ccarstens commented on #5
hey @topclaudy
it is `Awobaz\Compoships\Database\Eloquent\Builder`.

Is it expected behaviour, that the class `HasOneOrMany` from Laravel and not from Awobaz is being used?

<img width="706" alt="bildschirmfoto 2018-05-20 um 21 10 30" src="https://user-images.githubusercontent.com/29205799/40282678-38764390-5c73-11e8-8098-d9498cd3010c.png">

[2018-05-22 17:55] topclaudy commented on #5
Hello @ccarstens
I just added some unit tests. Checkout the master branch and run the tests (`phpunit`). I mocked the models (Allocation, TrackingTask) and all tests passed.

[2018-05-22 17:56] topclaudy commented on #4
See https://github.com/topclaudy/compoships/issues/5

[2018-05-22 17:56] #4 closed

[2018-05-24 03:54] jalllychun opened #6 "Does not support laravel 5.5?"
I used this package to do a lazy eager loading and got this
[code]

I simply used this trait and load a relation with two keys
[code]

[2018-05-24 11:38] topclaudy commented on #6
Compoships supports Laravel 5.5. Did you use the trait in both models as described in the documentation?

[2018-05-24 12:28] topclaudy commented on #4
Nice catch @xaviapa
I just published a release to support version 5.4 of illuminate/database. Check version 1.0.4
Thanks.

[2018-05-24 12:29] topclaudy commented on #5
Please check the last version (1.0.4)

[2018-05-24 12:29] #5 closed

[2018-05-24 13:55] xaviapa commented on #4
Thank you!

[2018-05-25 12:42] ccgintranet commented on #6
We are also having this issue on 5.6

[2018-05-25 13:09] topclaudy commented on #6
Please grab the last version and run the tests. If the problem persists, show me your integration.

Also make sure you follow this note from the documentation:

`
To define a multi-columns relationship from a model A to another model B, both models must either extend Awobaz\Compoships\Database\Eloquent\Model or use the Awobaz\Compoships\Compoships trait
`

[2018-05-25 15:21] topclaudy commented on #6
Thanks for the feedback @ccgintranet. Really appreciated :)

[2018-05-25 15:21] #6 closed

[2018-05-26 17:46] ccarstens commented on #4
@xaviapa omg nice, thank you!
@topclaudy thank you a lot for fixing this, and again for creating compoships in the first place! Propels my project by quite a bit! :)

[2018-06-01 11:50] erjanmx-onlinesup opened #7 "0 contributors? :)"
![image](https://user-images.githubusercontent.com/22002562/40839394-085d1ae4-65ab-11e8-9cbc-085432819357.png)

[2018-06-01 13:49] topclaudy commented on #7
What's your point?

[2018-06-01 15:55] erjanmx-onlinesup commented on #7
nothin just saying you need to setup your git credentials config

[2018-06-01 15:55] #7 closed

[2018-06-29 06:37] donshun opened #8 "When I use whereHas, the sql's where condition is duplicated."
UserBinding Model

When I use whereHas

select count(*) as aggregate from `user_bindings` where (exists (select * from `user` where

**`user_bindings`.`strName` = `user`.`strName` and `user_bindings`.`strPwd` = `user`.`strPwd` and `user`.`iEnable` = '1'**

and

**`user_bindings`.`strName` = `user`.`strName` and `user_bindings`.`strPwd` = `user`.`strPwd` and `user`.`iEnable` = '1'**)

Have any idea

[2018-07-04 07:32] donshun commented on #8
Sorry, Can anyone help me@@?

[2018-07-04 17:50] topclaudy commented on #8
Fixed in 1.0.6

[2018-07-04 17:50] #8 closed

[2018-07-05 14:04] roXii033 opened #9 "SQL error when using whereHas() after upgrading to 1.0.6"
my database: PostgreSQL 10.4

my models:
Text --hasMany--> Translation
[code]

when i am calling
[code]
i now get the following sql error
[code]

the query itself works fine on any db client.
after downgrading back to 1.0.5 the application also runs.

[2018-07-05 14:41] topclaudy commented on #9
You may check version 1.0.7. I reverted the fix for https://github.com/topclaudy/compoships/issues/8

[2018-07-05 14:41] #9 closed

[2018-07-05 14:48] roXii033 commented on #9
thx, working...

[2018-07-10 06:25] donshun opened #10 "Sorry, whereHas is dulpicated again in 1.0.7 version."
As above subject. I try to update 1.0.7 version. The duplicated where condition come back @@.  Can you help me to solve this problem? Thank you for your kind help.

[2018-07-10 19:20] topclaudy commented on #10
The fix introduced in 1.0.6 caused other issue. I reverted it back.
May I know what the issue of the SQL condition being duplicated? What's the error message?

[2018-07-11 09:15] vbarbarosh opened #11 "Compoships produces a little bit redundand SQL"
I have two models:

[code]

The following expression
[code]

will generate a little bit redundand sql
[code]

[2018-07-16 12:47] #10 closed

[2018-07-27 17:37] vientoquesurcalosmares opened #12 "use DB::raw"
I think it might be a good idea to use DB::raw, for example, I want to use a date with Y-m-d format but another field to compare has the format Y-m-d H:i:s, if you could use DATE_FORMAT with same format it would be great

[2018-08-06 11:29] #12 closed

[2018-08-08 13:50] sptdigital opened #13 "Column names missing from generated SQL"
Hello.

I am having an issue with adding relationships between 3 models.

I have a model, Batch, with the following relationships ...
[code]

All 3 classes have the `Compoships` trait.

When querying a Batch object for either pupil or requests, I get a `SQLSTATE[42S22]: Column not found`.

The SQL generated looks like this
[code]

I would expect the SQL to look like
[code]

It appears as if the ta

[2018-08-08 16:59] topclaudy commented on #13
Can you show the code to query a Batch object?

[2018-08-09 07:15] sptdigital commented on #13
Sure,
I was calling `Batch::where('batch_id','=','12252')->where('batch_name','=','2e6885a7-02f1-4669-ae24-5891ecb013ce')->first();` and then using `->pupil` or `->requests` to see the related objects. I tried this in my code with a dump and die and using tinker, but recieved the same results using both.

[2018-08-09 11:59] topclaudy commented on #13
I just tested a similar situation (using the models for testing) and everything works fine. If possible, you can provide more information (migrations etc.) to help investigate this issue.

[2018-08-12 21:18] MidasLamb opened #14 "Compoships on referred model"
I have two methods which use a compoship method to retrieve the corresponding model:

[code]

The second one, which is a relation to itself, can be eagerly loaded without a problem. The first method can be lazy loaded, but when i try to load it eagerly i get an exception.

After trying many different things, i figured out the referring model, in this case `App\PouleTeam` must also `use \Awobaz\Com

[2018-08-17 11:35] sptdigital commented on #13
I have another example of this behaviour.

I have an Object can be assigned to a PickupPoint. The pickup point has a composite primary key of the consisting of the contract number and an index for the pickup point on that contract.

ObjectAssignment

| Object |  Contract Number |  PickupIndex |
|:-:	|:-:	|:-:	|
|   1 |   A1234	|   1	|
|   2 |   A1234	|   2	|
|   3 |   B5678	|   1	|

Pickup Point

[2018-08-17 17:28] topclaudy commented on #13
I just added a test unit with a setup for PickupPoint and PickupTime. The relationships work fine. Check the migrations and the test unit `testMixedTypeCompositeKey` in the master branch for details.

[2018-08-20 16:28] topclaudy commented on #13
Please create a PR (with tests). I will gladly merge it.

[2018-09-07 10:56] Vinze opened #16 "self::has not working in model"
When querying relationship existence from within a model itself thats using the Compoships trait the `has()` function doesn't work. See the following example:

[code]

This creates the following error: `Non-static method App\Models\Bookmark::has() should not be called statically`

I'm using Laravel 5.5 and Compoships 1.0.8.

[2018-09-07 12:51] topclaudy commented on #16
Fixed in 1.0.9.

[2018-09-07 12:51] #16 closed

[2018-09-07 12:54] topclaudy commented on #11
Fixed in 1.0.9

[2018-09-07 12:54] #11 closed

[2018-09-07 13:01] Vinze commented on #16
Great, thanks!

[2018-09-08 11:05] mdemblani opened #17 "Why is it compulsory to use the trait on the related model"

[2018-09-10 16:45] topclaudy commented on #17
It's necessary for eager loading. Otherwise the error **_strtolower() expects parameter 1 to be string, array given_** will occur. See issue #1

[2018-09-10 16:45] #17 closed

[2018-09-13 12:49] hettiger opened #23 "Incompatibility with factories"
I'm having issues using factory relationships as described here: https://laravel.com/docs/5.6/database-testing#relationships

Currently I'm using the following code as a work around:

[code]

[2018-09-13 17:05] topclaudy commented on #23
Can you please describe the problem/incompatibility (the code that failed)? What is the error or bug?

[2018-09-14 08:38] hettiger commented on #23
Hello @topclaudy and thank you for your fast reply.

Sorry I didn't provide more details in the first place. Here's some more information. Please let me know if anything's missing.

__Somewhere in my TestCase:__

[code]

__Somewhere in the ModelA Class:__

[code]

__Somewhere in the ModelB Class:__

[code]

__More details:__

- `ModelA` and `ModelB` both extend `Illuminate\Database\Eloquent\Model`

[2018-09-14 11:44] topclaudy commented on #23
Thanks for the details! Can you share the factory definitions for ModelA and ModelB?
I added a unit test similar to your `test_example` (check the master branch) and I have no issue.

[2018-09-17 14:56] hettiger commented on #23
@topclaudy Thank you for your feedback and adding the unit test. It turns out that a trait that my model was using caused that error. ModelA is using the composite key as primary key and therefore I utilized a trait which I unfortunately did not think of. (It had been quite a while / big project)

For more details you might want to have a look at the issue in isolation:

- [Proof that compoships i

[2018-09-17 14:56] #23 closed

[2018-09-18 05:50] mankowitz opened #24 "Use trait on related model makes me use compoships for all models, including vendor models"
I have two models that are related using compoships. The problem is that all my models are related to each other, including some models that are vendor-defined. I now have to add the trait to all my models as well as those provided by the vendor (which may be more difficult and prevents easy upgrade).

Is there any way to relax the requirement for both models being compships?

[2018-09-18 12:56] topclaudy commented on #24
The requirement is to ensure that eager loading works. Otherwise you'll get the error https://github.com/topclaudy/compoships/issues/1.

[2018-09-18 21:13] mdemblani opened #25 "Using make() function on relation returns error"
Since, there is a possibility of a model having a composite key, there are certain scenarios where we just need the instance of the related model without persisting it to the database. To achivie this, there is a `make()` function in relations such as HasOneOrMany.

Currently it defaults to the one provided by Eloquent, and hence it returns an error.

[2018-09-19 02:09] topclaudy commented on #25
Fixed in 1.1.1. Thanks for the PR :)

[2018-09-19 02:09] #25 closed

[2018-09-19 11:34] #24 closed

[2018-09-21 12:17] JensMakeable opened #27 "has() not working on self relations"
Thank you for a nice package!

I'm having troubles using has() when the relationsship refers to it's own class.

To reproduce:

In your test-suite, add following relation to TrackingTask.php:

    public function subtasks()
    {
        return $this->hasMany(TrackingTask::class,
            ['booking_id', 'vehicle_id'],
            ['booking_id', 'vehicle_id']);
    }

Try adding and running foll

[2018-09-21 12:55] topclaudy commented on #27
Thanks for this detailed issue. I added a fix. You may test using the master branch and give feedback.

[2018-09-21 13:01] JensMakeable commented on #27
Wow, you are fast :-)
It seems to work perfect. Beautiful!

Thank you a lot!

[2018-09-21 13:01] #27 closed

[2018-09-21 13:06] topclaudy commented on #27
Fixed in 1.1.2

[2018-10-02 18:30] mdemblani opened #28 "In-correct if-clause in the code-base"
The check relies on the fact whether the foreign key value is a boolean true. This results in the a wrong relation creation, where it has 2 foreign keys but only one binding in it's where clause.

[https://github.com/topclaudy/compoships/blob/master/src/Database/Eloquent/Relations/BelongsTo.php#L25](https://github.com/topclaudy/compoships/blob/master/src/Database/Eloquent/Relations/BelongsTo.php#L

[2018-10-03 11:27] topclaudy commented on #28
@mdemblani Thanks for reporting this issue. Can you please provide more details (some code example with the resulting query)?

[2018-10-10 22:13] topclaudy commented on #28
About to close this... please reopen if you have more details

[2018-10-11 06:51] mdemblani commented on #28
Hi,

Regarding the issue, consider the following case, there is a relation between 2 models, says
- Model A
- Model B

The models are related as follows: Model B `belongsTo` Model A on two keys : `X` and `Y`, which are both of type `integer`. The foreign key constraints are managed on the application level, and not on the DB(there was a reason to do this).

The relation foreign keys start as follo

[2018-10-11 12:00] topclaudy commented on #28
@mdemblani Thanks for the details. I pushed a fix to the master branch. You may test it and give me feedback.

[2018-10-12 12:08] topclaudy commented on #28
Fixed in 1.1.3

[2018-10-12 12:08] #28 closed

[2018-10-17 12:45] GregOstry opened #29 "Having some problems with whereHas and Builder class"
Hello,

first of all thank you for your awesome package.

I'm trying to add some (request) filter's to my app. Unfortunately i get some error when i use the Builder class.

Laravel: 5.6,
compoships: 1.1.3

I have Two models, (both have traits pulled in):

**Models\Adressen:**

[code]

**Models\Kontokorrent:**

[code]

and then when i use a specific filter:

[code]
$value (='D') is just an url para

[2018-10-17 14:09] #29 closed

[2018-10-17 15:11] topclaudy commented on #29
Hello @GregOstry You closed the issue. Did you solve the problem?

[2018-10-17 17:59] GregOstry commented on #29
Hello, yes this was my mistake. I set wrong first param in the `whereHas()` method, this should be 'kontokorrent' and not 'KtoArt'.  Everything works fine. Once againg thanks for this awesome package this solved my problem.

[2018-10-18 08:38] hogggerty opened #30 "Eager loading doesnt work."
I add relation (hasMany and belongsTo) into 2 model using trait. Relation work correctly, but if try eager load relation return null. It should work and i make mistake, or it should not work?

[2018-10-18 11:53] topclaudy commented on #30
It should work. Can you show some code example?

[2018-10-18 14:00] hogggerty commented on #30
[code]
[code]

In TestController first dump return Call model, second dump return null

[2018-10-18 14:47] topclaudy commented on #30
This should work. Please make sure that `$holds2` is associated with a 'call'.

[2018-10-19 13:33] hogggerty commented on #30
I suppose, that this may be because i use accessor as local key.

[2018-10-20 14:12] #30 closed

[2018-11-04 12:32] myfbone opened #31 "[QUESTION] Do you support many to many relationship?"
Do you? :)

[2018-11-04 12:34] myfbone commented on #31
If not, may be u have plans for it

[2018-11-04 16:18] topclaudy commented on #31
Unfortunately no. And I have no plan/need for it.

[2018-11-12 19:40] pmochine opened #32 "\InvalidUsageException: The related model 'App\UserCover' must either extend 'Awobaz\Compoships\Database\Eloquent\Model' or use the 'Awobaz\Compoships\Compoships' trait"
So I need to update my User Model that has several relationship.

One of the is called address. This is the only thing where I have composite keys.

However, I get the error:

    Awobaz\Compoships\Exceptions\InvalidUsageException: The related model 'App\UserCover' must either extend 'Awobaz\Compoships\Database\Eloquent\Model' or use the 'Awobaz\Compoships\Compoships' trait

I don't want to use co

[2018-11-13 19:58] #32 closed

[2018-11-24 21:36] robsontenorio opened #33 "Q: Does eager loading work with custom composite PK?"
I am having a issue when having a custom composite PK and trying to eager load that model.

Is it supposed to work?

NOTE: my table doesn’t have a ID field.

[2018-11-24 23:55] topclaudy commented on #33
It should work. What's the issue? What's the error message?

[2018-11-26 02:51] robsontenorio commented on #33
Just a internal issue with another package. Sorry and thanks for your time!

[2018-11-26 02:51] #33 closed

[2018-12-01 01:21] JesusMayuri7 opened #34 "Error Array to string conversion"
Work Laravel 5.6 and error "Array to string conversion", please help

`namespace App;

use Illuminate\Database\Eloquent\Model;

class A extends Model
{
    use \Awobaz\Compoships\Compoships;

    public function b()
    {
        return $this->hasMany('B', ['f1', 'f2'], ['f1', 'f2']);
    }
}
`

[2018-12-01 16:37] topclaudy commented on #34
Can you please provide a more detailed code example?

[2018-12-01 19:58] JesusMayuri7 commented on #34
I tested it isolated, and it works very well, thanks.
It hurts that I can make it work together Rebing \ GraphQL

I think the problem is in the array of the relationship
`return $this->hasMany('B', ['f1', 'f2'], ['f1', 'f2']);`

[2018-12-28 14:20] hamid09430 opened #36 "does not work if the column values are NULL."
does not work if the column values are NULL.
like here
$this->hasMany('Bar', ['f1'], ['f2']);
if f1 column has NULL value and f2 also have NULL then it should take that record from DB but it Does Not :(

[2018-12-28 17:31] topclaudy commented on #36
That's the way Laravel relationships work. They work on the premise that keys are not NULL.

[2018-12-28 17:31] #36 closed

[2019-01-06 11:08] lachlanhickey opened #37 "Undefined property: App\"
Hi there,

I haven't updated since 1.1.0, and today I have updated the package.
Now, if there is a relation within the $this->relation i get an Undefined property: App\Model

Please advise what needs to change in my code to support?

[2019-01-06 18:12] topclaudy commented on #37
Can you please show a code snippet?

[2019-01-07 00:17] lachlanhickey commented on #37
Races hasMany results.
Results belongsTo a race.

Model
**App\Race**
`public function results()
    {
        return $this->hasMany('App\RaceEventResult', ['ClientId', 'RaceId'], ['ClientId', 'RaceId']);
    }
`

**App\RaceEventResult**

`public function race()
    {
        return $this->belongsTo('App\Race', ['ClientId', 'RaceId'], ['ClientId', 'RaceId']);
    }
`
What errors, is if we have some

[2019-01-07 03:17] topclaudy commented on #37
Not sure this is related to Compoships. I just tested a similar scenario and there was no errors. Did you upgrade other packages in your codebase?

[2019-01-07 03:19] lachlanhickey commented on #37
I did.

And when I reverted compoships back it all worked again.

Do you need a more thorough example?

-----------------
Lachlan Hickey
Sent from my iPhone

PH: +61 408 476 041
E: lachy34@hotmail.com<mailto:lachy34@hotmail.com>

On 7 Jan 2019, at 14:18, Claudin J. Daniel <notifications@github.com<mailto:notifications@github.com>> wrote:

Not sure this is related to Compoships. I just tested a sim

[2019-01-07 16:18] topclaudy commented on #37
Yes. Please provide more a detailed example

[2019-01-21 02:49] nicholaszuccarelli opened #38 "Not unique table/alias error"
I'm having an issue with the latest version of Compoships whenever I use whereHas()

The code:
[code]

The SQL error I get:

 `"SQLSTATE[42000]: Syntax error or access violation: 1066 Not unique table/alias: 'type_has_data' (SQL: select id, name, colour from type_data where exists (select * from types inner join type_has_data on types.`id` = type_has_data.`type_id` inner join type_has_data on type

[2019-01-22 02:03] sinbino opened #39 "belongsTo does not work on laravel 5.7"
Using Array for foreignKey on belongsTo in Laravel 5.7 will cause the following warning when accessing the relation:

PHP Notice: Array to string conversion in /srv/app/vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/BelongsTo.php on line 78

In Larvel 5.7, the code added to the getResults method of the Illuminate / Database / Eloquent / Relations / BelongsTo class references t

[2019-01-22 03:58] topclaudy commented on #39
What is your version of Laravel (5.7.?) and Compoships?

[2019-01-22 05:53] sinbino commented on #39
I apologize for the lack of my information.

laravel/framework v5.7.21
awobaz/compoships 1.1.5

Apparently, it seems that what was added with the latest update of laravel/framework is causing problems.
https://github.com/laravel/framework/commit/1103e1d28d77b8adf29e26af9b7b9e3af064e559

[2019-01-22 18:13] topclaudy commented on #38
What's your exact version of Laravel (5.?.?)?

[2019-01-22 20:07] nicholaszuccarelli commented on #38
Off the top of my head, we are using the latest available version of 5.7

[2019-01-22 21:55] nicholaszuccarelli commented on #38
Checked now. 5.7.22

[2019-01-23 16:55] topclaudy commented on #39
Fixed in 1.1.6. Please upgrade Compoships.

[2019-01-23 16:55] #39 closed

[2019-01-23 16:58] topclaudy commented on #38
Can you try `SubType::whereHas(...)` instead of `SubType::query()->whereHas(...)`? Also consider upgrading to 1.1.6

[2019-01-24 22:20] Orillian opened #40 "Ran composer require and laravel isn't finding it."
Laravel: 5.7.22
Compoships: 1.1.6

Nothing I do seems to allow it to be found.

I've tried clearing caches, composer dump-autoload with and without -o
Nothing I do allows Laravel to find it. Also the Package discovery isn't working either. As the providers doesn't get updated in app.php

Maybe it's end of day blues, but I'm good and stumped!

[2019-01-24 22:39] topclaudy commented on #40
`composer require awobaz/compoships`

[2019-01-24 23:34] Orillian commented on #40
Yup, that's the one!
I'm seeing
[code]
in the packages.php file so the Auto Discovery is working as far as I can tell.
But I've tried to install it manually to the app.php file as well and in either case it's not being found.

I've tried both using the model and the Trait.

[code]
No matter what I do I get an Undefined namespace error. I even installed a couple other packages to see if things were

[2019-01-25 00:34] Mochaka opened #41 "Exception: Illegal offset type in isset or empty"
I'm getting this error when running the ide-helper, and can't for the life of me figure out what's causing it.

I'm getting no debug messages or anything, and it only happens when i use this package.

"awobaz/compoships": "1.1.6",
"laravel/framework": "5.7.21",
[code]

[2019-01-25 00:36] Mochaka commented on #41
I actually think it's a bug in the ide-generator

[2019-01-25 00:36] #41 closed

[2019-01-25 01:21] topclaudy commented on #40
The service provider does nothing actually. You can ignore it. Just use the trait.

[2019-01-27 21:13] #38 closed

[2019-01-27 21:17] topclaudy commented on #40
@Orillian You don't have to add the trait in all models. You only need it for models involved in a multi-columns relationship.

[2019-01-28 10:29] V-Srv opened #42 "Dependencies' versions locked in composer.lock"
You have `composer.lock` file in your package. So when I added `compoships` into my project it downgraded some of my dependencies.
This could lead to some major incompatibility in the future.
I do not think that the package needs this file, `composer.json` is enough.
Do you think you could remove `composer.lock`?

[2019-01-28 22:32] topclaudy commented on #42
It's to ensure that contributors use the same versions of dependencies.

[2019-01-29 04:42] V-Srv commented on #42
Thank you for your answer. I still think additional package should not downgrade the whole project.
You could close this issue.

[2019-01-29 09:53] alberto-bottarini opened #43 "hierarchy problem"
Hi, I got this error:

`message: "Awobaz\Compoships\Database\Eloquent\Relations\HasOne and Illuminate\Database\Eloquent\Relations\Concerns\SupportsDefaultModels define the same property ($withDefault) in the composition of Awobaz\Compoships\Database\Eloquent\Relations\HasOne. This might be incompatible, to improve maintainability consider using accessor methods in traits instead. Class was compose

[2019-01-29 12:57] topclaudy commented on #42
Composer doesn't downgrade dependencies when adding new package. You might have an issue with your setup.

[2019-01-29 12:57] #42 closed

[2019-01-29 15:44] cegprakash opened #44 "Overhead during every query."
The drawback I face with this library is that it enforces the base model, the derived model and every model which a re connected with these models recursively. In my case every class has to be changed to derive from this Awobaz model instead of Eloquent model (or every model has to use the Compoships trait) which will add an extra overhead to every query. If this can be avoided then this would be

[2019-01-29 19:24] topclaudy commented on #44
Can you please give more details about you setup and models (base model, derived models, related models etc.)?

[2019-01-30 02:00] V-Srv commented on #42
Let's say I have `awesome/package: ^1.0` in my projects' `composer.json`. The version I am using is locked on 1.2 in `composer.lock`.
And then I apply some package with `awesome/package: 1.1` in `composer.lock`.
What version do you think will be used in a result? It will be downgraded to `1.1`.

[2019-01-30 09:10] cegprakash commented on #44
class A extends Model
{
     protected $guarded = [];

   public function myRequiredRelation()
   {
        return $this::hasMany('App\Model\K', ['b_id', 'c_id'], ['b_id', 'c_id']);
   }

    public function someOtherRelation()
    {
        return $this->belongsTo('App\Model\G');
    }

    public function anotherRelation()
    {
        return $this->hasOne('App\Model\P', 'id', 'p_id');
    }
}

[2019-01-30 11:17] topclaudy commented on #42
@V-Srv  The composer.lock is removed in 1.1.8.

[2019-01-30 11:41] topclaudy commented on #44
@cegprakash Good point! This is fixed in 1.1.9.

[2019-01-30 12:11] eaverdeja commented on #44
Thank you @topclaudy ! This was a pain point with the package and now it's fixed :+1:

[2019-01-30 12:14] #44 closed

[2019-01-30 12:32] cegprakash commented on #44
Is the README still true?

Note: To define a multi-columns relationship from a model A to another model B, both models must either extend Awobaz\Compoships\Database\Eloquent\Model or use the Awobaz\Compoships\Compoships trait

[2019-01-30 17:15] cegprakash commented on #44
So I've to touch 2 files.. Not bad..

[2019-02-01 08:17] sinbino commented on #39
thankyou!

[2019-02-04 10:41] hamid09430 opened #45 "Not work with BelongToMany relation ?"
Not work with BelongToMany relation ?

[2019-02-04 17:47] topclaudy commented on #45
Nope!

[2019-02-04 17:47] #45 closed

[2019-02-21 16:59] 5chulzi opened #46 "hasMany relationship doesn't seem to work"
I have the following database structure:

- a user table (id, name, email, ...)
- a conversation table (id, user_id_1, user_id_2)

To get all conversations of a user, I needed to create a relationship on both columns (user_id_{1, 2}) of the conversation table. Therefore I'm using this package. But it doesn't seem to work for me. I'm using the latest version (1.1.9). The following is a code snippet

[2019-02-23 03:48] topclaudy commented on #46
@5chulzi What you're trying to define is a relationship where `conversation.user_id_1=user.id OR conversation.user_id_2=user.id`. This kind of relationship is not possible with Compoships. If the relationship was defined correctly, Compoships would assume `conversation.user_id_1=user.id AND conversation.user_id_2=user.id` which will always return an empty collection in your scenario, unless users

[2019-02-24 13:08] 5chulzi commented on #46
Oh well, then I misunderstood the way Compoships works. Thanks for the clarification. I’ll then have to go for an alternative solution.

[2019-02-25 04:29] #46 closed

[2019-02-27 20:28] wojo1206 opened #47 "Doc update request in regard to multi connections"
If your models happen to use different connection you must provide `protected $connection = 'connection_name'` for each model. Otherwise, `belongsTo()` will call default database which is defined in `$this` model instead of connection defined in `belongsTo()` model.

[2019-02-28 20:10] topclaudy commented on #47
"Multiple connections" is a feature of Laravel, not Compoships. It's discussed here https://github.com/laravel/framework/issues/18545

[2019-02-28 20:31] wojo1206 commented on #47
@topclaudy Thanks for the info

[2019-02-28 20:31] #47 closed

[2019-03-12 19:47] ikudosi opened #50 "Array to string conversion error"
I am currently on v.1.1.9 but as soon as I upgrade to 1.1.10 (or even 1.1.11) I get the following errors:

[code]
And here is how I am using it on my model:

[code]

[2019-03-12 20:33] topclaudy commented on #50
Fixed in 1.1.12

[2019-03-12 20:33] #50 closed

[2019-03-13 11:30] hydrozowa opened #52 "Compoships returning null value even though there is data"
I'm using Laravel 5.5.42

Here's my Models

[code]
[code]
the call to the crm function
CrmClientActions::whereHas('crm')->get()
always returns empty collection, even though there are entries in tables

Let me know if I'm doing something wrong.

Thanks.

[2019-03-13 20:48] topclaudy commented on #52
Try
`return $this->hasOne("App\Models\CrmClients", ["client_id", "group_id"], ["client_id", "group_id"]);`

[2019-03-14 06:18] hydrozowa commented on #52
oh Yes,
Thanks you so much for clearing it.
Love your package and your quick response. Thanks :)

[2019-03-14 06:18] #52 closed

[2019-03-19 16:51] wojo1206 opened #53 "Support for period in column names"
Period MySQL column name is perfectly legal. To indicate such column we enclose it in backticks. In Laravel in order to use backticks you have to use `DB::raw()` expression. This library in current version is not supporting `DB::raw()`. Especially 'HasOneOrMany.php:getForeignKeyName()' blindly explodes column name by period which brakes the query that relies on column names with periods.

[2019-03-21 15:09] wojo1206 commented on #53
Working in this .. this library has few places query is being strigified in `WHERE` clause.

[2019-03-22 15:11] wojo1206 commented on #53
After further investigation I found out that dots in column names are not easily implementable due to custom `save()` implementation. The `save()` uses compound keys to properly set models attributes which don't support `DB::raw()`. Furthermore later in the eloquent save logic all 'string' columns are sanitized by splitting by`.` and safe-quoting all pieces.

[2019-03-22 15:11] #53 closed

[2019-03-30 18:55] pMatt1988 opened #54 "Parents"
I'm having trouble with a concept and I don't know if this is supported in Compoships.

Currently, I have a one to one relationship for mother and father, so

[code]

And this works great, but for ease of traversing family trees, i'd like to add parents

[code]

And also, to get children

[code]

I guess that Compoships isn't working as I'd expect in this situation and I was wondering if there is

[2019-03-31 01:19] topclaudy commented on #54
In Compoships, the size of the arrays has to be the same.

[2019-03-31 15:13] #54 closed

[2019-04-09 06:50] yuliantosb opened #55 "Is it support for MongoDB"
Hello @topclaudy , I just migrate from mysql to Mongodb, when I migrate I got an error, the error said

`Call to a member function prepare() on null`

Is this package not support mongodb yet? Thanks

[2019-04-11 03:47] #55 closed

[2019-04-12 14:55] Tarcisiofl opened #56 "Eager loading - Illegal offset type"
I'm getting an `ErrorException (E_WARNING) - Illegal offset type` when trying the below:
[code]

My model has the relationship as:
[code]

Therefore, the error happens if the relationship returns any row.

Could someone help me?

[2019-04-12 20:19] Tarcisiofl commented on #56
I found out that I forgot to add `public $incrementing = false;`.

[2019-04-12 20:19] #56 closed

[2019-04-28 14:32] chijovka opened #57 "has/whereHas error 'Array to string conversion' when used with relation belongsTo"
Hello
I need to filter the objects by relation belongsTo.
For example, you can take 2 models from your phpunit test (PickupTime and PickupPoint).
Models are left as is. In ComposhipsTest.php add method
[code]
As a result, the test falls with an error

I use Laravel 5.4 and compoships 1.1.12

How could I do this work?

[2019-04-29 13:41] topclaudy commented on #57
Hello @chijovka,

Thanks for reporting this. The issue is related to Laravel 5.4. This is fixed in 1.1.13.

[2019-04-29 17:16] chijovka commented on #57
@topclaudy  Thanks. Everything is working

[2019-04-29 17:16] #57 closed

[2019-05-09 11:52] MannikJ opened #58 "Problems Defining Special Relation"
Hi,

I already tried to explain my problem in another package's issue, but it was not the right place either. I'm just going to link this issue and really hope anyone of you can help me out.

staudenmeir/belongs-to-through#37

I would also be open to add some custom tweaks to the relation, but I need to make it also work for eager loading.

I've tinkered a bit, but have not been successful so far.

[2019-05-13 15:01] topclaudy commented on #58
On way to solve this would be to implement Compoships support for `belongsToThrough`.

[2019-05-15 02:24] #58 closed

[2019-05-28 09:41] smx-smx opened #59 "withCount/hasManyThrough: mb_strpos() expects parameter 1 to be string, array given"
When using `withCount` on an `hasManyThrough` relationship, we end up in this call
```return $this->throughParent->qualifyColumn($this->firstKey);```

`firstKey` is an array, but the base `Eloquent\Model` class uses it as a string

I know `hasManyThrough` is not listed as supported, but defining an hasManyThrough relationship with composite keys actually works fine as long as `withCount` is not us

[2019-05-28 14:27] smx-smx commented on #59
Nevermind, i didn't notice that one of the models was bringing in a Illuminate-inherithed model instead of a Compoship-inherited model

[2019-05-28 14:27] #59 closed

[2019-06-25 12:19] arctic-ice-cool opened #60 "Is there a reason that belongsToMany relationship isn't supported?"
Is there a reason that belongsToMany relationship isn't supported?

i.e.

[code]

At the moment, to have two-way belongsToMany relationships (i.e. a friendship system) in Laravel is to have two different relationships, 2 different DB calls, and merging both results on-access.

Thanks

[2019-06-26 16:02] topclaudy commented on #60
Nice question! I'll try to add this feature if possible.

[2019-08-30 04:48] iHeartBard commented on #60
Will this belongsToMany feature ever be supported? Would be nice to have this so we can fully enjoy this package.

[2019-08-30 05:33] topclaudy commented on #60
@iHeartBard Well, it's not that I'm not open to the idea. Unfortunately, time is not always on my side this summer. Please be patient.

[2019-09-03 19:44] ragingdave opened #61 "Laravel 6.0 Compatibility"
Since someone was going to do it......here it is.

[2019-09-03 21:29] topclaudy commented on #61
Are you asking for Laravel 6 compatibility?

[2019-09-03 23:48] RedBeardCory commented on #61
Bit more information:
When updating to Laravel 6.0 I get the following output.

`Your requirements could not be resolved to an installable set of packages.

[2019-09-04 12:42] ragingdave commented on #61
@topclaudy yeah, sorry I figured through all the updates of the framework that you always get hit with the request to make it compatible with the latest version, so figured it didn't need much explanation.

[2019-09-04 16:02] topclaudy commented on #61
@ragingdave @RedBeardCory Please upgrade to 1.1.14.

[2019-09-04 16:02] #61 closed

[2019-09-05 14:37] topclaudy commented on #60
@arctic-ice-cool After further analysis, I realized that what you're trying to accomplish can't be done using Compoships. You need some kind of relationships where either  `requestor_id` **OR** `receiver_id` is equal to the `id` in `App\User`. Compoships uses the **AND** operator to match records. You can share your schema to help me get a better understanding of your situation

[2019-09-05 14:38] topclaudy commented on #60
@iHeartBard Can you please provide a scenario (and schema) where you would want to have support for `belongsToMany` in Compoships?

[2019-09-10 14:58] topclaudy commented on #60
About to close this...

[2019-09-14 17:57] s1lviu opened #62 "The related model 'App\Models\...' must either extend 'Awobaz\Compoships\Database\Eloquent\Model' or use the 'Awobaz\Compoships\Compoships' trait"
On Laravel 5.8
![image](https://user-images.githubusercontent.com/9863576/64912014-bd407c00-d731-11e9-9245-f19749c71c08.png)

My model looks like this:

[code]

[2019-09-14 18:08] s1lviu commented on #62
Fixed after added the trait `use \Awobaz\Compoships\Compoships;` in the referred model too.

[2019-09-14 18:08] #62 closed

[2019-09-17 07:55] s1lviu opened #63 "updateOrCreate causes Illegal offset type"
[code]

[code]

When **the first param is set** `['user_id' => $request->user()->id, 'fb_group_id' => $request->fb_group_id],` on `updateOrCreate` , this warning appears and data is not saved
![image](https://user-images.githubusercontent.com/9863576/65022353-791fc800-d939-11e9-84b1-08b9f1a4d9ef.png)

[2019-09-17 19:27] topclaudy commented on #63
This is not related to Compoships. You define your primary key as an array. As mentionned in the documentation, *Compoships doesn't bring support for composite keys in Laravel's Eloquent. This package only offers the ability to specify relationships based on more than one column*. If you need support for composite keys, you should probably re-enable the trait `HasCompositePrimaryKey` in your model

[2019-09-18 19:17] #63 closed

[2019-11-12 11:06] mpyw opened #64 "Call newHasMany() newHasOne() newBelongsTo() when instantiating"
I'd like to use the following two library. Both of them have nice features.

- [staudenmeir/eloquent-eager-limit: Laravel Eloquent eager loading with limit](https://github.com/staudenmeir/eloquent-eager-limit)
- [topclaudy/compoships: Multi-columns relationships for Laravel's Eloquent ORM](https://github.com/topclaudy/compoships)

However, each `Builder` `Relation` is extended from Eloquent core.

[2019-11-12 11:28] mpyw commented on #64
I also think `hasMany` `hasOne` `belongsTo` should call `newHasMany` `newHasOne` `newBelongsTo`.

[2019-11-12 20:32] mpyw commented on #64
[mpyw/compoships-eager-limit: topclaudy/compoships + staudenmeir/eloquent-eager-limit](https://github.com/mpyw/compoships-eager-limit)

[![Build Status](https://travis-ci.com/mpyw/compoships-eager-limit.svg?branch=master)](https://travis-ci.com/mpyw/compoships-eager-limit) [![Code Coverage](https://scrutinizer-ci.com/g/mpyw/compoships-eager-limit/badges/coverage.png?b=master)](https://scrutinizer-

[2019-11-12 20:35] topclaudy commented on #64
May I know a little more about the errors/conflicts when you attempted to use both packages?

[2019-11-12 20:44] mpyw commented on #64
@topclaudy I've just achieved to mixin them correctly 😆

- Extend Compoships Query `Builder` and manully copy-and-paste EloquentEagerLimit implementation on it
- Extend Compoships `HasOne` `HasMany` Relation and mixin EloquentEagerLimit `HasLimit` trait
- Extend EloquentEagerLimit Query `Grammar` to accept array partition

[2019-11-12 20:56] mpyw commented on #64
Everything works fine, thanks! But

I really think they should be correctly extended. I'll submit a PR later

[2019-11-12 22:24] mpyw commented on #64
@staudenmeir Would you review my code and join as a collaborator? Thank you

[2019-11-12 22:24] mpyw commented on #64
@topclaudy Would you review my code and join as a collaborator? Thank you

[2019-11-13 17:33] mpyw opened #66 "Need CI"
Travis, Scrutinizer, Cricle CI, etc...

[2019-11-13 17:36] #64 closed

[2019-11-25 15:26] MannikJ opened #67 "Include Records By Multiple Parent Keys"
First of all thank you for this great package. I have thankfully used it several times in the past.

Now I have a related use case this package does not solve: Instead of multiple foreign keys, there are multiple parent keys I want to include.

In our case there are `jobs` and `users`. Each user can have multiple jobs. And a user can also belong  another user via an employer/employee relationship.

[2019-11-26 15:51] SlyDave opened #68 "Optimise whereIn"
This package is awesome, thanks.

A question, rather than chaining multiple and/or's could this be optimised to group the multi-column's into where In's ?

so rather than the output as is currently stands:

`select * from `mytable` where ((`mytable`.`another_id` = ? and `mytable`.`user_id` = ?) or (`mytable`.`another_id` = ? and `mytable`.`user_id` = ?) or (`mytable`.`another_id` = ? and `mytable`

[2019-11-26 17:30] topclaudy commented on #68
The query is constructed based on the number of models when eager loading. It needs to add a condition for each IDs tuple from the collection of retrieved models. If it gets simplified, the eager loading would only match one model.

For simple relationships, a simple IN with the IDs is sufficient. For multi-columns relationships, it has to be constructed with multiple WHERE conditions.

[2019-11-26 21:53] topclaudy commented on #67
This could be an interesting feature to have in Compoships.

[2019-11-27 18:39] #68 closed

[2019-12-13 12:12] MannikJ opened #69 "Can't Use withTrashed() Scope On Belongs To Relation With SoftDeletes"
[code]
Using SoftDelete trait.
Will throw following error:
[code]

[2019-12-13 12:14] #69 closed

[2019-12-20 06:19] Namoshek commented on #67
I haven't used this myself, but you could use two relationships and an accessor which provides combined data. You could also use a query scope for convenience, if you want to add multiple relationships to eager load.

[code]

You can then use it like this:
[code]

[2020-03-04 12:08] JWes3 opened #70 "Laravel 7 support"
There is a composer version conflict with **illuminate/console** when trying to install on laravel 7

[2020-03-04 14:10] topclaudy commented on #70
Check v1.1.16

[2020-03-04 14:10] #70 closed

[2020-03-17 08:02] ronssij opened #71 "Error on User Model"
I am getting erros when I use the trais on User Model.

![image](https://user-images.githubusercontent.com/24932380/76834772-b3c2d880-6868-11ea-97d7-a174c2d5b1a1.png)
![image](https://user-images.githubusercontent.com/24932380/76834794-bc1b1380-6868-11ea-85dd-cd20e1883737.png)

[2020-03-18 13:23] topclaudy commented on #71
There is a conflict between `Compoships` and `PaginationWithHavings`. Both redefine the method `newBaseQueryBuilder`.  You'll have to decide which one to keep.

[2020-03-18 13:23] #71 closed

[2020-04-03 11:09] mpyw opened #72 "Use `$query->{$query->whereInMethod()}()` instead of `$query->whereIn()`"
Laravel has Eager Loading performance tuning strategy against PDO_MYSQL bug, but this library hasn't follow the implementation yet.

- [[5.7] Improve eager loading performance by staudenmeir · Pull Request #26453 · laravel/framework](https://github.com/laravel/framework/pull/26453/files)
- [[5.7] Improve eager loading performance on MySQL by staudenmeir · Pull Request #26434 · laravel/framework](h

[2020-04-03 11:10] mpyw commented on #72
CC @staudenmeir

[2020-04-06 16:59] RaiserWeb commented on #46
@5chulzi your requirement is the same as mine - did you find a solution?

[2020-04-07 15:14] 5chulzi commented on #46
At the moment I'm just returning a simple query like this:
[code]

But everytime you need conversations of the user you need call `get()` additionally to really get the results instead of just the query, which is not perfect but enough to be accepted for me.

[2020-04-20 00:50] #72 closed

[2020-04-20 12:16] SlyDave opened #74 "Updating to 1.1.17 from 1.1.16 breaks"
Running 1.1.16 everything works fine.

Updating to 1.1.17 results in:
`ErrorException explode() expects parameter 2 to be string, array given`

Which appears to be occurring @ `vendor/laravel/framework/src/Illuminate/Database/Eloquent/Relations/Relation.php:319`

It's as if the custom logic provided by compoships stops working and it reverts to using eloquent's implementation...

[code]

[2020-04-20 12:21] SlyDave commented on #74
Code in project it's breaking on is a fairly complex chain of filtered `with` statements and some scopes:

All of the child models have the Compoships trait too.
[code]

[2020-04-20 12:31] SlyDave commented on #74
It's the Laravel key optimisation not working with compound keys, it appears the changes in 1.1.17 are not to be working correctly (at least for relationship conditions) from what I can tell...

The Laravel 7 key optimisation:
[code]

[2020-04-20 15:09] SlyDave commented on #74
I removal of addEagerConstraints() from src/Database/Eloquent/Relations/HasOneOrMany.php is how the breaking is occurring.

As without that method is calls the parent version, which in turn calls `whereInMethod` which has the `last(explode('/', $key))` as noted above.

Unlike the BelongsTo, which is working because it has a addEagerConstraints() override

[2020-04-20 15:15] topclaudy commented on #74
Hi @SlyDave Can you PR the fix?

[2020-04-20 16:36] SlyDave commented on #74
I've added a version of `whereInMethod()` to `HasOneOrMany` that works with compound keys, delegating to the parent if key isn't an array. See PR for details.

[2020-04-21 00:23] #74 closed

[2020-04-21 00:28] topclaudy commented on #74
Please check 1.1.18. Thanks for the contribution.

[2020-04-21 12:50] ragingdave opened #76 "Composite Key to single relating"
I have a condition where I am in need of relating a table with 2 keys that end up relating to another table as one key. I saw there was an old issue about using DB::raw potentially and this might be a great use case for it. Specifically some way of being able to say this composite key when concatenated, relate to this single primary key in another table. Would this be something that this package c

[2020-04-24 22:24] mpyw opened #77 "Introduce Integration with barryvdh/laravel-ide-helper"
I mentioned here:

- https://github.com/barryvdh/laravel-ide-helper/pull/895#issuecomment-619261230
- https://github.com/barryvdh/laravel-ide-helper/issues/706#issuecomment-619263035
- https://github.com/barryvdh/laravel-ide-helper/issues/838#issuecomment-619262262

It should be introduced also on README or Wiki.

[code]

[2020-04-27 12:07] JunaidQadirB opened #78 "I cannot understand the examples."
Forgive my ignorance, I can't make sense of the examples given in the readme.
[code]

It would be great if real-life examples are used to convey the usage properly so that everyone can understand them easily.

Thanks,

[2020-04-30 02:57] topclaudy commented on #78
Good point! I will update the doc in the upcoming days...

[2020-04-30 03:03] topclaudy commented on #78
@JunaidQadirB Meanwhile, you may take a look at the examples from the tests https://github.com/topclaudy/compoships/blob/master/tests/ComposhipsTest.php

[2020-04-30 09:20] JunaidQadirB commented on #78
Thanks. I'll check

[2020-05-01 23:56] aliasbody opened #79 "Invalid input syntax for type uuid"
When using a uuid type as primary key, the relationship is made only using the first char and thus returns an input syntax error event when `$incrementing` is set as `false` and `$keyType` is set as `string`.

[2020-05-11 00:32] ChristopheB opened #80 "Allow nullable columns"
I stumbled upon some unexpected results while working on a table where a column is nullable.
If I were to use the example in the tests folder, pretending vehicle_id could be null, we would have:

[code]

And the result is fairly unexpected:

[code]

After some investigations, it turns out that [this line is causing this issue](https://github.com/topclaudy/compoships/blob/e44d3abb6c84b5012c22d7eecc

[2020-05-11 13:46] topclaudy commented on #80
@ChristopheB Thanks for the report. You can make a PR.
I think this will introduce some breaking behaviours in some integrations. I will bump the version to 2.0

[2020-05-13 01:15] ChristopheB commented on #80
Just a side note on the presence of ```$this->query->whereNotNull($fullKey);```, as I struggled around it a bit: it is needed **only when a local auto incremented primary key is used in the relationship**.

In orders words, it ensures the **collection on a new instance without an id set** is the same as the **collection on the saved object with its definitive id**.

[2020-05-14 02:14] #80 closed

[2020-05-14 02:17] topclaudy commented on #78
The documentation has been updated to include a real-life scenario.

[2020-05-14 02:17] #78 closed

[2020-05-22 15:33] goda-kazuki opened #84 "Is hasOneThrough compatible?"
I want
[code]

But it doesn't work

Is there a solution?

[2020-05-22 15:41] topclaudy commented on #84
@goda-kazuki No. hasOneThrough is not supported.

List of supported relationships:
https://github.com/topclaudy/compoships#supported-relationships

[2020-05-22 15:41] #84 closed

[2020-05-22 19:32] frankwrs opened #85 "SQLSTATE[42703]: Undefined column"
When I call the relation with two keys in an Eager way like `User::with('relation')->get` it's work very well. But when I call as a model propertie like `$user->relation` the query builder return error on query sintaxe. The laravel create a query with the table name instead of the attributes name like `select * from A where A.A = ? and A.A = ?`

[2020-05-26 16:04] topclaudy commented on #85
Can you share you models schemas and the definition of the relationships?

[2020-05-26 16:05] topclaudy commented on #79
Can you share you models schemas and the definition of the relationships?

[2020-05-26 18:29] matalina commented on #79
This was not a problem in 1.1.16 but **is** a problem in 1.1.17onward  I have reverted my package to only use 1.1.16 and it removes the problem.

Below is the query that a relationship runs which works in 1.1.16 but not in 1.1.17

[code]

This is a straight-up relationship as follows:

[code]

And it must use your package because other models hook up to it with dual key and it doesn't always pick

[2020-05-26 18:36] matalina commented on #79
Verified it does not work with the 2.0.0 branch as well.

[2020-05-26 18:39] matalina commented on #79
Changing the query to the below works:

[code]

[2020-05-26 18:41] topclaudy commented on #79
@matalina Thanks for the input. I'll investigate

[2020-05-27 19:56] frankwrs commented on #85
Follows the models schemas and the definition of the relationships.

`class Item extends BaseModel
{
    use Compoships;
    protected $table = 'ctd.item';
    protected $primaryKey = 'item_id';

    public function relacaoAutor()
    {
        return $this->hasMany(RelacaoAutor::class, ['item_id','tipo_item_id'],['item_id','tipo_item_id']);
    }
}`

`class RelacaoAutor extends BaseModel
{
    us

[2020-05-27 19:57] frankwrs commented on #85
Follows the models schemas and the definition of the relationships.

`class Item extends BaseModel
{
use Compoships;
protected $table = 'ctd.item';
protected $primaryKey = 'item_id';
public function relacaoAutor()
{
    return $this->hasMany(RelacaoAutor::class, ['item_id','tipo_item_id'],['item_id','tipo_item_id']);
}
}`

`class RelacaoAutor extends BaseModel
{
use Compoships;
protected $table =

[2020-05-27 19:58] frankwrs commented on #85
Follows the models schemas and the definition of the relationships.

`class Item extends BaseModel { use Compoships; protected $table = 'ctd.item'; protected $primaryKey = 'item_id'; public function relacaoAutor() { return $this->hasMany(RelacaoAutor::class, ['item_id','tipo_item_id'],['item_id','tipo_item_id']); } }`

`class RelacaoAutor extends BaseModel { use Compoships; protected $table = 'ctd

[2020-05-29 13:03] nik-418 opened #86 "BelongsTo's use of attributesToArray is causing issues"
Hi there!

First of all  - great package!

On line 41 of the BelongsTo subclass, child attributes are fetched using the `attributesToArray()` method. However, what ends up happening is that custom `getFooAttribute($value)` mutators get triggered.

As far as I can tell, the only follow-on usage is for `null` checks, but `getAttributes()` should suffice for that, I think.

Was there a specific reaso

[2020-05-29 13:11] topclaudy commented on #86
Fixed in 2.0.1. Thanks for reporting this.

[2020-05-29 13:11] #86 closed

[2020-06-01 10:40] nik-418 opened #87 "Support for morphTo"
Anything in particular blocking polymorphic relation support in Compoships?

I can dedicate some time to crafting a PR for this over the next few days.

[2020-06-01 13:09] topclaudy commented on #87
PR are welcomed :)

[2020-07-16 19:41] topclaudy commented on #85
Fixed in 2.0.2

[2020-07-16 19:41] #85 closed

[2020-08-22 08:32] qlj opened #89 "Does compoships support multiple columns using fieldnames and values?"
I've briefly read the documentation, and you extend hasOne() or hasMany() by matching tables by their field-names.

I have a situation where one of my tables contains the fields:
* fk_id = a foreign-key to the pk of the parent table
* fk_table = a string value relating to the table containing the pk, i.e. 'customers' or 'suppliers'

Would compoships support something like:

$this->hasOne( 'App\Mod

[2020-08-31 20:58] mkantautas opened #90 "How to specify columns we want to include in the relationship?"
Seems like the usual `with(['user:name'])` doesn't work using this package?

[2020-09-08 01:39] hungcrush opened #91 "supported Laravel 8?"
I have an issue when upgrade to Laravel 8. Seems this package not supported Laravel 8 yet?

[2020-09-10 23:43] isclopezm commented on #91
You made a PR to support Laravel 8, right? Why did you close it?

[2020-09-11 00:36] hungcrush commented on #91
I changed package name for my project so I closed the PR

https://packagist.org/packages/hungcrush/compoships

[2020-09-11 01:03] topclaudy commented on #91
Check 2.0.3 for Laravel 8

[2020-09-11 01:03] #91 closed

[2020-09-11 01:31] isclopezm commented on #91
Oh, I sent a PR a few minutes ago :-(

[2020-09-11 02:04] topclaudy commented on #91
@isclopezm You sent the PR after 2.0.3. I'm gonna merge your PR

[2020-09-11 02:14] topclaudy commented on #91
@isclopezm Merged! Thanks :)

[2020-09-11 07:52] munajaf opened #95 "belongsto first key is not using foreign key"
hi, it seems like belongsTo are not using foreignkey like the example given
currently im using version 2.0.2

Example:
[code]

because when i tried to do as example in my code

My Code:
[code]

it returns to me an error saying that
``Illuminate/Database/QueryException with message 'SQLSTATE[42S22]: Column not found: 1054 Unknown column 'orders.order_id' in 'where clause' (SQL: select * from `order

[2020-09-11 12:22] topclaudy commented on #95
Try

[code]
It seems like you got the keys in the wrong order.

[2020-09-11 12:22] #95 closed

[2020-09-14 16:06] ragingdave commented on #87
@nik-418 was there any movement on this? I was looking for the same functionality

[2020-09-15 17:52] topclaudy commented on #89
For situation like this, I suggest the use of `where` clauses in the definition of the relationships.

[2020-09-15 17:52] #89 closed

[2020-09-15 17:57] topclaudy commented on #90
This feature is not supported.

[2020-09-15 17:57] #90 closed

[2020-09-28 19:53] Usama100 opened #96 "Getting empty array in relations"
I am getting an empty array in a collection instance in relations.
My code is:

The User model

use Illuminate\Contracts\Auth\MustVerifyEmail;
use Illuminate\Foundation\Auth\User as Authenticatable;
use Illuminate\Notifications\Notifiable;
use Awobaz\Compoships\Compoships;
use App\Chat;

class User extends Authenticatable
{
    use Notifiable, HasSlug, Compoships;

    /**
     * The attributes th

[2020-09-28 20:03] Usama100 commented on #46
Did you find any alternate solution? Because I am also facing the same problem as you were facing in this issue. I am getting empty collection also

[2020-10-02 22:38] topclaudy commented on #96
Looks like you are trying to do something like https://github.com/topclaudy/compoships/issues/46 that Compoships doesn't support

[2020-10-02 22:39] #96 closed

[2020-10-05 22:16] bridgeyuwa opened #97 "Unable to apply the compoship relationship"
![Untitled (1)](https://user-images.githubusercontent.com/17090054/95137709-93a12b00-0760-11eb-8966-334a90c757b2.png)

I have three database tables which are in a One-To-Many relationship to a fourth table.

They are joined by three conditions. How do I model this relationship  using Compoships?

The table **school_programs** has the 3 foreign key columns set as primary key because I need data for

[2020-10-06 10:19] topclaudy commented on #97
What relationships do you want to define?

[2020-10-06 10:53] mpyw commented on #66
@topclaudy Would you apply StyleCI? `master` seems to be failing

[2020-10-06 12:39] bridgeyuwa commented on #97
I want to define a **one to many** relationship where the table **school_programs** is made up of 3 composite keys from schools, degrees and programs

[2020-10-06 13:14] topclaudy commented on #97
Relationship in the relational data model is defined from one table to another table (not multiple). Compoships doesn't change that. You can use Compoships to define a relationship from one table to only one table using multiple columns in the definition.

[2020-10-06 13:38] bridgeyuwa commented on #97
So you are saying it is One is to One with both having the exact same data. eg 3 composite primary keys in A  then B has three foreign keys that reference to A.
 All must match and it can't be just a one table Composite with foreign keys distributed among other tables like I have above???

[2020-10-06 13:42] topclaudy commented on #97
No. It can't be just a one table with composite foreign keys distributed among other tables. Relationship are not defined like that in the relational data model. Relationships are one-way, but the link can be defined with multiple columns to/in the related table.

[2020-10-06 13:46] bridgeyuwa commented on #97
If that is the case what would you recommend I do? cause if I use query builder, maintenance might turn out to be a nightmare later on.

[2020-10-06 13:57] topclaudy commented on #97
It depends on what you're trying to accomplish. You can still use the default Laravel relationships though, to define separate relationship. For example:

- A degree relationship from `school_programs` to `degrees`, using degree_id and the id column from the `degrees` table. Or the inverse:
- A schoolPrograms relationship from `degrees` to `school_programs`, using id and the degree_id column from

[2020-10-06 14:16] bridgeyuwa commented on #97
Thanks alot for the support

[2020-10-06 14:17] #97 closed

[2020-10-09 11:34] Usama100 commented on #96
Yes, it was same as that. Thanks

[2020-10-15 21:20] samatcd opened #98 "Support for eager loading specific columns without requiring those columns"
When eager loading specific columns on a related record, you can use a special syntax to [define the columns](https://laravel.com/docs/8.x/eloquent-relationships#eager-loading) per the Laravel docs:

[code]

When using a standard Laravel relationship definition, you don't need to specify the key fields in this eager loading, but you do when using a composite relationship. E.g., let's say I have th

[2020-10-19 09:26] DerkJanSpeelman commented on #62
I'm still getting this error, since I'm extending my Model with a generated BaseModel (that on its turn extends the default Eloquent\Model)...

[2020-10-19 17:41] luciano-work opened #99 "Compatible with eloquence"
Please, there is a way to make this package compatible with [Eloquence | Mappable](https://github.com/jarektkaczyk/eloquence/issues/262)?

[2020-10-22 22:22] pedrofmj opened #100 "Support for associate method in BelongsTo"
Hi there. I'm using Compoships, and i just could see that method associate is not supported in BelongsTo relationships, because it tries to execute the original associate method, that has no support for multiple columns foreign keys.

I just developed locally in my project (changing inside vendor/awobaz/compoships/src/Database/Relations/BelongsTo.php) the fix for this. Could you please see if you

[2020-10-23 12:04] pedrofmj commented on #100
I already made a PR for this.

[2020-10-23 12:30] topclaudy commented on #100
Released in 2.0.5. Thanks :)

[2020-10-23 12:30] #100 closed

[2020-10-23 12:33] topclaudy commented on #99
Mappable has to support array.

[2020-10-23 12:33] #99 closed

[2020-10-23 16:29] pedrofmj opened #102 "Including support for primary composite keys"
Hello,

I currently use compoships in conjunction with a Trait made by myself that enables Composite Primary Keys.
Would you guys think it would be useful and meaningful including such trait into Compoships?
Since we are talking about composite foreign keys in compoships, it onlly makes sense if we also we have support for composite primary keys.
If it makes sense, I could do some code for it.
Wha

[2020-10-23 21:46] topclaudy commented on #102
As stated in the documentation:

_There are situations where you'll need to match many columns in the definition of a relationship even when your models' tables have a single primary key._

So, Compoships allows us to define relationships with multiple keys, but those keys can be any set of columns, not just primary keys.

[2020-10-29 09:58] pedrofmj commented on #102
Hi @topclaudy , I fully understand your point.
But what I mean is that if we are adding support to composite foreign keys with compoships, it also makes sense to add support for composite primary keys in the same package, so that one that wants to use compoships also can set composite primary keys, that is not natively supported by Eloquent/Laravel.
I have a class for this, and I could add it to c

[2020-11-21 05:30] cgunnels opened #104 "hasManyThrough support?"
Is there any plans to add a hasManyThrough method?

[2020-11-24 22:37] shivasapra opened #105 "Not able to eager load a has many relation"
I defined a hasMany relationship on Model A to Model B. And also defined the inverse relation i.e belongsTo From Model B to Model A.
both relationships giving correct result as expected but i am not able to eager load the relationships.
while eager loading hasMany relationship i.e from A to B it is giving error actually it is trying to map with primary key and while eagerloading belongsTo relation

[2020-11-29 16:00] yurii-github commented on #105
can you please check your case on master branch? There were added some fixes recently, maybe your case was fixed

regards

[2020-11-29 17:12] yurii-github commented on #79
hello

can you please retest your case on master branch? I have added some test coverage for your cases (https://github.com/topclaudy/compoships/pull/108)  but it looks like it was already fixed in master.

regards

[2020-11-29 17:23] yurii-github commented on #77
hello

it looks like you know this subject very closely. maybe you can make a PR for it?

afaik, this is something that cannot be done on compoships but only  on laravel-ide-helper, right?

[2020-11-29 17:39] yurii-github commented on #76
hello

can you please elaborate your question so we may probably find a solution.
As I understand now, you want something like

[code]

if so, then I may disappoint you, because this is something not easily achievable, at least for relational DBs. You may emulate such relation but in the end you won't build a single JOIN on such PKs. Such PK will work only on  **INSERT ... ON DUPLICATE KEY UPDATE*

[2020-12-01 14:45] ragingdave commented on #76
You nailed what I'm looking to do, and I never said it had to apply to a relational db. My use case is a legacy (cobol) system that I'm connecting to and their data structures are too time intensive to change most of the time. Considering that this package already does manual manipulation to generate the relational queries, while yes I would agree it's an emulation only but I would disagree that i

[2020-12-01 18:12] yurii-github commented on #76
I see. thank you for your response.

I will clarify my point a bit more.
This package changes behavior for illuminate\database package, and illuminate\database supports next database engines
![image](https://user-images.githubusercontent.com/1162656/100778602-e2d9a400-340f-11eb-962a-541944959449.png)

On other side, COBOL is a programming language, not a database engine.
Theoretically, we may emul

[2020-12-01 19:50] ragingdave commented on #76
First off, I do know that COBOL is a programming language and not a database, I was simply using cobol as the time reference to just how legacy the system I'm dealing with is.

So with that out of the way, I think the point you are talking about are complex clauses like a `whereHas` or a `has` where there is no direct data usage (like in eager loading) where the foreign keys are collected from ava

[2020-12-09 11:40] nilecrocodile opened #109 "Is the set of local-foreign key pairs being compared with "AND" or "OR"?"
(Sorry for not reporting the issue, but simply asking, but I think this is a topical question)
For ex.:
Table words:
 - id
 - title
 - title_translation_eng
 - title_translation_de
 - title_translation_fr
 - title_translation_jp

I need for each word to obtain all other words that have the same title in one of the languages.

Can I do this:
[code]

In other words, to find a relationship, must all

[2020-12-09 19:35] topclaudy commented on #109
All of foreign-local key pairs must match

[2020-12-10 09:55] nilecrocodile commented on #109
Thank you.

[2020-12-10 09:55] #109 closed

[2020-12-17 21:48] Orillian opened #110 "PHP 8 compatability?"
Just wondering if anyone has tried with Laravel 8 on PHP 8?

I keep meaning to give it a run, but...time. I'm hoping to give it a go this weekend on the testbench, but we will see.

Anyways for the two people that haven't seen it.
https://blog.laravel.com/laravel-php-8-support

[2021-01-19 07:24] sinnbeck commented on #102
@pedrofmj Could you perhaps post the class? I would like to give it a try

[2021-01-19 10:08] pedrofmj commented on #102
@sinnbeck , it's a trait, called HasCompositePrimaryKey. You need to use that trait in your model. It's also important to correctly set the primaryKey in the model, (ex.: protected $primaryKey = ['key1', 'key2', ...]).

<?php

namespace App\Traits;

use Illuminate\Database\Eloquent\Builder;

trait HasCompositePrimaryKey
{
	/**
	* Set the keys for a save update query.
	*
	* @param  \Illuminate\Data

[2021-01-21 11:55] LionTouch opened #111 "stripos() expects parameter 1 to be string, array given"
Hi, when i try to execute this code i got this error
**stripos() expects parameter 1 to be string, array given**
i use laravel 5.8 and compoships ^2.0
i do not know how and why this last is showing
error description

`exception: "ErrorException"
file: "/var/www/html/intemporel/vendor/laravel/framework/src/Illuminate/Database/Query/Grammars/Grammar.php"
line: 1047
message: "stripos() expects parame

[2021-02-14 16:02] tspesh commented on #111
Seeing this on Lumen 8.x as well

[2021-02-14 16:18] topclaudy commented on #111
That's weird! Can you provide a simple Laravel project to reproduce this?

[2021-03-02 11:15] ukik opened #112 "Conflict Traits"
when i use below traits in a class, there is error

use \Staudenmeir\EloquentEagerLimit\HasEagerLimit;
use \Awobaz\Compoships\Compoships;

[2021-03-02 11:18] topclaudy commented on #112
Yep! You'll have to choose one.

[2021-03-02 11:18] #112 closed

[2021-03-03 11:12] mShbieb commented on #111
@topclaudy
Did you solve it?

[2021-03-05 07:31] msgkuna opened #113 "SQLSTATE[42S22]: Column not found"
Hi,

I have table like this:

namespace Modules\Personalia\Entities\Referensi;

use Illuminate\Database\Eloquent\Model;
use Modules\Personalia\Entities\Referensi\Satker;

class Kecamatan extends Model
{
    use \Awobaz\Compoships\Compoships;

    protected $table = 'master_kecamatan';
    protected $primaryKey = ['satker_id', 'keca_id'];
    protected $keyType = 'string';
    public $incrementing

[2021-03-05 07:36] msgkuna commented on #113
I use
Laravel 8.31.0
PHP 7.4.15

[2021-03-24 19:56] ragingdave opened #115 "BUG: Error on eager loading/matching for BelongsTo"
This might extend past just BelongsTo, but in using this package and attempting to eager load a relation using a non-primary key (don't think that has anything to do with it, but.....), the loaded relations aren't the correct ones, and matching then fails improperly.

As an Example,
[code]

Using this configuration specifically in tandem with a dataset like:

[code]

The BelongsTo logic found here

[2021-04-05 21:33] matalina commented on #111
I am seeing this as well... specifically when eager loading multi level relationships .ie:

```Inventory::with('models.brands')->get();```

I can fetch the ``$inventory->models[0]->brand`` without the eager loading so it's working.

I am using laravel 8 on php 8.  The same code is working in the latest laravel 7 on php 7.2

[2021-04-06 01:29] topclaudy commented on #111
Please provide a Laravel project to reproduce your issues

[2021-04-06 19:51] matalina commented on #111
I'm attempting to create a simple app that reflects this issue.  However its not doing it with an sqlite database.

My repo I'm seeing the error in is an MSSQL database.  So that might be the underlying difference, but I cant easily test the MSSQL database as I don't have one locally installed and production is not write accessible.

I have narrowed it down to hasMany relationship.  But still unab

[2021-04-07 11:39] lsalazarm99 opened #117 "HasMany relationship are inefficient in v2.1"
Given this:
[code]

Before 2.1, assuming I'm requesting the list of users enrolled in the course 2020-A and 2021-B, the generated query for the relationship would be something like this:
[code]

This would return a list of enrollments of 2 courses (the 2020-A and the 2021-B).

Now, in 2.1, the generated query looks like this:
[code]

This will return a list of enrollments of 4 courses (the 2020-A,

[2021-04-21 00:06] lsalazarm99 commented on #110
We use this package in Laravel 8 with PHP 8. It works great!

[2021-04-21 11:18] #110 closed

[2021-04-21 11:37] topclaudy commented on #117
It's probably caused by this PR https://github.com/topclaudy/compoships/pull/114. I reverted the changes in 2.1.1. Please try and let me know

[2021-04-21 15:34] MannikJ opened #118 "WhereHas Constraints Not Working"
I have the following setup in my app:

[code]
When I try use the relation inside whereHas, I get an exception:
[code]

The problem here is that the generated SQL is wrong, because obviously there are no columns `0` and `1`. But I have no clue where it comes from. And I am quite sure that a query like this has once worked.

If query the relations via a job instance like below, there is no exception

[2021-04-21 15:36] topclaudy commented on #118
@MannikJ Which version of the package are you using?

[2021-04-21 15:47] MannikJ commented on #118
Sorry, v2.1 it was, I guess

[2021-04-21 18:25] qwertyuu commented on #117
Maybe add a test case that covers this, to be sure I don't cause this trouble in the future :)

[2021-04-21 18:27] topclaudy commented on #117
@qwertyuu Yep! That's a good idea.

[2021-05-25 10:16] myckhel opened #119 "Not compatible with eloquent-query-cache"
When used with [laravel-eloquent-query-cache](https://github.com/renoki-co/laravel-eloquent-query-cache) i got this error:

\QueryCacheable::newBaseQueryBuilder

https://github.com/renoki-co/laravel-eloquent-query-cache/issues/67

[2021-06-02 14:50] topclaudy commented on #119
Unfortunately, you'll have to drop one of the conflicting packages.

[2021-06-02 14:50] #119 closed

[2021-06-02 14:53] topclaudy commented on #118
Sorry for the delay. Can you try 2.0.x?

[2021-06-04 13:42] fabriciozeferino commented on #111
Hi guys, I get the same with this `relation:`

[code]

Thanks

[2021-06-15 12:21] uuf6429 commented on #66
On top of CI, [stop telling people](https://github.com/topclaudy/compoships#unit-tests) to download/install phpunit manually.... that's what package managers are for.
[code]

[2021-07-14 01:19] lsalazarm99 commented on #117
I have tried the new version (2.1.1) and it's fixed. Thanks.

[2021-07-14 01:19] #117 closed

[2021-08-20 20:21] erikn69 opened #121 "Error on raw expresion"
https://github.com/topclaudy/compoships/blob/412017fac52fbe017aa1503e15c34716c30333c4/src/Database/Eloquent/Concerns/HasRelationships.php#L222-L224
Why  `? DB::raw($instance->getTable().'.'.$foreignKey) `, why don't just use  `? $foreignKey `,

I trying to do a join with another table on `hasMany`
[code]
I got
[code]
Instead of
[code]
So, why dont use `$foreignKey` directly when is `DB::raw` expes

[2021-08-25 16:18] erikn69 commented on #76
maybe related #122

[2021-09-04 15:49] #121 closed

[2021-09-05 16:27] miqoo1996 opened #123 "With() is not working"
When the trait "use Compoships" is used in the model the with() function isn't working at all.
So, why does the trait stop it?
I opened the codes inside your package and noticed that you used newBelongsTo() each time when Laravel's default belongs to is called, I don't think that this can be a good solution at all. I have a page where is pagination with 500 items per page, So it's an extremely hea

[2021-09-05 16:40] miqoo1996 commented on #123
The problem is that the package ignores the with() function and it's the same if I don't use the with(). It does select * for every row for any relation instead of doing join query, or if you use whereIn, it does SQL selects for every condition.

[2021-09-05 16:47] topclaudy commented on #123
@miqoo1996 Can you please PR the fix?

[2021-09-05 17:10] miqoo1996 commented on #123
@topclaudy did you mean open a PR?
So I tried to open the PR but it seemed that I didn't have access to it.

[2021-09-05 17:26] topclaudy commented on #123
Implement the fix and submit a pull request

[2021-09-05 17:33] miqoo1996 commented on #123
@topclaudy maybe I fix it in my project and submit it here to help people to avoid the issue, but why should this be done by me, I don't understand to be honest. I thought this is your package and you try to maintain this, provide a quality and functional code.

[2021-09-05 23:49] topclaudy commented on #123
@miqoo1996 It's open source and contributions are welcomed. If you have the solution to a problem just submit a PR like other contributors and I will gladly merge it when I have a chance. I can't work on that for the moment (I'm actually replying to you from my phone).  Maintainers are not full time invested in their packages, especially on weekends.

[2021-09-06 14:58] erikn69 commented on #123
@miqoo1996 read https://opensource.org/licenses/MIT

Because open source grows with the help of the community and that's why we can all do PR, you are not obliged to collaborate but it would be selfish of you if you know how to fix something for everyone

so, that's why it's free of charge, the author cannot spend 24 hours troubleshooting third-party problems

I appreciate and thanks @topclaudy &

[2021-09-23 20:10] erikn69 commented on #119
You can make your own trait mixing the two codes

[2021-10-04 11:18] keironlowe-edriving commented on #123
I'm experiencing the same issue, in the query that's executed, it checks that the columns are NULL instead of their correct values, my code below...

[code]

Which creates the query

[code]

I'll try to look into it and open a PR, although my knowledge with the internals of Eloquent is limited so I'm not sure I'll be able to solve it.

[2021-10-04 12:34] keironlowe-edriving commented on #123
I've done a bit more digging, the code in my previous comment was a reduced example. That reduced example actually works fine, it queries the correct data. It breaks when you do any additional `where` or `selects` on the query. For example...

This works fine:
[code]

This results in the bad query:
[code]
[code]

[2021-10-04 13:59] erikn69 commented on #123
@keironlowe-edriving it does not seem to me that it is the same problem, it seems that the model has the relation fields as null

[2021-10-04 15:14] keironlowe-edriving commented on #123
You're right it's not the same issue, but there is an issue with using `select`. My code example was a reduced version, in the proper one I was also using selecting a raw SQL count, and it seems when using select, you have to include the primary key columns, otherwise they'll be null.

In my case, it turns out I didn't need `with`, so I don't have the issue anymore.

[2021-10-04 15:19] erikn69 commented on #123
yes, always, also inside the `with`, without the keys, laravel cannot bind the relation

[2021-11-25 07:27] undjike opened #129 "Using `OR` instead of `AND` in the association"
Please, is it possible to use OR in the association?

[code]

[2021-11-25 19:06] undjike commented on #129
Pls, need help 🙏

[2021-11-27 08:40] pndjike opened #130 "HasOne results to an error"
Error message

`stripos(): Argument #1 ($haystack) must be of type string, array given`

![image](https://user-images.githubusercontent.com/87007602/143674090-cc710bc2-dafa-4e4c-8fab-8b45b20cbb6a.png)

The code

[code]

Version of the package : 2.1.2
Laravel Version : 8.6

[2021-11-30 05:29] undjike commented on #130
I'm working with MySql

[2021-11-30 13:32] topclaudy commented on #130
@undjike Did you import the trait in the `Transfer` class? Can you please show how you use the `transfer` relationship?

[2021-11-30 13:35] undjike commented on #130
Yes, I imported the trait on both classes

[2021-11-30 13:42] topclaudy commented on #130
@undjike Can you please show a usage of the `transfer` relationship?

[2021-11-30 13:43] undjike commented on #130
I just eager loaded the transfer relation

[code]

[2021-11-30 13:48] topclaudy commented on #130
@undjike A similar issue has been reported here https://github.com/topclaudy/compoships/issues/111. But I wasn't able to reproduce. Can you please share a simple Laravel project to reproduce the issue?

[2021-11-30 13:49] undjike commented on #130
OK, I'll share later this evening.

[2021-11-30 13:50] undjike commented on #129
@topclaudy, what about this?

[2021-11-30 14:18] undjike commented on #129
OK, let me explain.
I have a transaction table with some fields

- id
- type (withdraw or deposit)
- amount
- etc

When we have a transfer, both deposit and withdrawal are performed in the accounts concerned by the operation.
So, this is the structure of the transfer table...

- id
- withdraw_id
- deposit_id
- fees
- etc

Then, when I'm to retrieve (with eager loading) the transfer associated to a

[2021-11-30 14:45] topclaudy commented on #129
@undjike Thanks for the explanation. Please check discussion on https://github.com/topclaudy/compoships/issues/76 and https://github.com/topclaudy/compoships/issues/67. Such features are not on the roadmap.

[2022-01-11 19:26] anubhav217 opened #134 "Invalid input syntax for type uuid"

[2022-01-11 19:48] topclaudy commented on #134
Duplicate https://github.com/topclaudy/compoships/issues/79

[2022-01-11 19:48] #134 closed

[2022-01-17 09:57] Nurzzzone opened #135 "Support more than nth columns"
Does this package support more than 2 columns for relation?

[2022-01-17 12:07] topclaudy commented on #135
Yes

[2022-01-17 12:07] #135 closed

[2022-01-19 06:17] ib-ganz commented on #111
i get this error too. i'm using laravel 8.53.0

[2022-02-03 07:28] potasium opened #136 "Relationship on string values"
Columns are varchar and foreign key - local key can be upper case- lower case. In this situation;
When using $model1->has('model2') it is working but eager loading returns null.

[2022-02-21 21:27] theWebKeyGuy opened #137 "Doesn't Work In Laravel 8+"
Can't install packages in Laravel 8 plus

[2022-03-02 01:41] maulvieyazid commented on #137
Is it error when installing or when running?
i was able to install it successfully on Laravel 8.83.2

[2022-03-04 21:36] theWebKeyGuy commented on #137
"laravel/framework": "^8.40"

[2022-04-06 13:02] TheFehr commented on #118
I am facing the same problem.
And downgrading to 2.0.x does not work as that version was not yet compatible with laravel/framework 9.x

[2022-04-19 11:33] iveoles commented on #118
I can confirm I have the same setup as TheFehr and the issue only presents when the relation is on the same model e.g. a parent/child relationship.

[2022-04-19 11:51] TheFehr commented on #118
As this was a big problem for me I removed this package and added calculated id columns for the pair of id's I needed to match.
It leads to pretty big id's but I now can correctly use laravel relations again.

For anyone curious I used the [cantor pairing function](https://en.wikipedia.org/wiki/Pairing_function#Cantor_pairing_function).

If you use this approach don't forget to **always** use the

[2022-06-03 02:28] bmcn99 opened #139 "Latest update (2.1.3) does not seem to allow DB:raw() for me as examples have shown"
My current relationship using compoships works well:
``` return $this->belongsTo('App\Models\PizzaPrice', ['pizza_id', 'size_id'], ['pizza_id', 'size_id']); ```

but after updating to 2.1.3 and altering it to use:
``` return $this->belongsTo('App\Models\PizzaPrice', ['pizza_id', DB::raw('size_id')], ['pizza_id', 'size_id']); ```
or
``` return $this->belongsTo('App\Models\PizzaPrice', ['pizza_id',

[2022-06-20 20:44] erikn69 commented on #139
Hi, 2.1.3 feature works for `hasOne`, `hasMany`, fell free to make a PR for `belongsTo`
https://github.com/topclaudy/compoships/pull/122

[2022-08-12 04:55] luisvbz opened #143 "stripos() expects parameter 1 to be string, array given"
In My project I am using Laravel 8.83.23 with "awobaz/compoships": "^2.1" and I am getting this error. I am currently using the trait on the models.
This issue are replicated to others user, exists any solution for this?

Thanks

[2022-08-24 13:51] fredsal commented on #143
Looks like an error from your implementation, also you didn't give file and line number, backtrace, and others
Without that, don't expect many answers